.home {
    text-align: center;
    .home-image {
        width: 100%;
        height: 60em;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .presentation {
        font-size: large;
        text-align: justify;
    }
}