.container-profil-image {
    width: 10em;
    img {
        width: 100%;
    }
}

.tickets {
    box-shadow: black 0px 2px 4px;
    min-height: 2em;
    border-radius: 0.2em;
    background-color: rgba(0, 7, 50, 0.196);
    padding-bottom: 1em;
}
