.certifier-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center; /* Ajout de la propriété pour centrer horizontalement */
}

.certifier-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.certified-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.certified-item {
  display: flex;
  align-items: center;
  justify-content: center; /* Ajout de la propriété pour centrer horizontalement */
  margin-bottom: 10px;
}

.certified-name {
  margin-right: 10px;
}

.certified-rating {
  font-size: 18px;
  color: gold;
}
